

.kakao_custom_control {
    position:absolute;
    overflow:hidden;
    z-index:100;

    &.kakao-top {
        top : 10px;
    }
    &.kakao-bottom {
        bottom: 10px;
    }
    &.kakao-left {
        left: 10px;
    }
    &.kakao-right {
        right: 10px;
    }
}